<head>
</head>
<ion-view view-title="HOME">
 <ion-content padding="true" class="home-background-color">
     <div class="card" align = "center">
  <div class="item item-divider">
    <font face="verdana" color="#3E2723" size = "4"><b>Avakaash </b></font> <br>
  </div>
</div> 
   <div style="width:300px;height:200px;margin-left:auto;margin-right:auto;margin-top:40px;"class="row">
    <div class="col-sm-4" align="center">
        <a href="actiwity.html">
           <img src="img/actiwity-78.png" /></a>
               <h5><font face="verdana" color="#E0E0E0"><b>Actiwity</b></h5></font>
    </div>
    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-4" align="center">
        <a href="BreE.html">
        <img src="img/BrainE-64.png" /></a>
                <h5><font face="verdana" color="#E0E0E0"><b>BrainE</b></h5></font>
    </div>
    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-sm-4" align="center">
            <a href="avakaashComp.html">
                <img src="img/avakaashcomp-64.png" /></a>
                <h5><font face="verdana" color="#E0E0E0"><b>Competition</b></h5></font>
        </div>
  </div>
  <div style="width:300px;height:200px;margin-left:auto;margin-right:auto; margin-top:-40px;"class="row">
    <div class="col-sm-4" align="center">
        <a href="BreE.html">
        <img src="img/entranceexam-64.png" /></a>
                <h5><font face="verdana" color="#E0E0E0"><b>Entrance Exam</b></h5></font>
    </div>

    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-4" align="center">
        <a href="actiwity_panel.html">
           <img src="img/study_abroad-64.png" /></a>
               <h5><font face="verdana" color="#E0E0E0"><b>Study Abroad</b></h5></font>
    </div>

    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="col-sm-4" align="center">
            <a href="avakaashComp.html">
                <img src="img/carrierguide-64.png" /></a>
                <h5><font face="verdana" color="#E0E0E0"><b>Career Guidelines</b></h5></font>
        </div>
  </div>
  <div style="width:300px;height:200px;margin-left:auto;margin-right:auto; margin-top:-40px;"class="row">
    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    <div class="col-sm-4" align="center">
        <a href="avakaashComp.html">
            <img src="img/showcase.png" /></a>
            <h5><font face="verdana" color="#E0E0E0"><b>Showcase</b></h5></font>
    </div>
  </div>
</ion-content>
</ion-view>
