
  <ion-content class="home-background-color">
      <br>
    <br>
  <div style="width:120px;height:40px;margin-left:auto;margin-right:auto;margin-top:20px;"class="row">
 <img src="img/avakaash_102.png"/>    
  </div>
    <br/>
    <br/>
   <head>
     <script src="angular.min.js"></script>
     <script src="angular-route.min.js"></script>
   </head>
   <body ng-controller="MainCtrl" class="home-background-color">
    <form ng-submit="doLogin()" >
     
      <div class="list list-inset" style="background-color:#212121">
        <label class="item item-input">
          <span class="input-label">login_id</span>
          <input type="text" ng-model="loginData.login_id">
        </label>
        <br>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <br>
        <div style="text-align: center;">
         <a href="addemployee.html">
         <font color="#ecf0f1">Forgot password?Please Click here!</font></a>
        </div>
        <br>
        <label class="item">
          <button class="button button-block button-assertive" type="submit" style="height:10px;">Log in</button>
        </label>
      </div>
      </form>
      <br>
      <br>
         <div style="text-align: center;" ng-controller="PlaylistCtrl">
         <a href="register.html">
         <font color="#ecf0f1">New to Avakaash?Please register here.</font></a>
         </div>
  </ion-content>

