<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <!-- your app's js -->
    <script src="js/controler.js"></script>
  </head>
  <body ng-app="starter" class = "home-background-color">
  <ion-nav-view>
    <div class="bar bar-header bar-assertive">
  <h1 class="title">New User</h1>
</div>
<br>
<br>
<br>
<div style="width:120px;height:40px;margin-left:auto;margin-right:auto;margin-top:20px;"class="row">
 <img src="img/avakaash_102.png"/>    
  </div>
  <br>
    <form>
    <div class="list list-inset" style="background-color:#212121">
        <label class="item item-input">
          <span class="input-label">phone</span>
          <input type="text" ng-model="phone">
        </label>
        <br>
        <br>
        <label class="item item-input">
          <span class="input-label">email</span>
          <input type="text" ng-model="email">
        </label>
        <br>
        <br>
        <div ng-controller="SendOtp">
        <label class="item">
          <button class="button button-block button-assertive" type="submit" style="height:10px;" ng-click="sendOtp(phone, email)">Send OTP</button>
        </label>
        </div>
      </div>
      </form>
      <br>
      <br>
      <div style="text-align: center;">
         <a href="index.html">
         <font color="#ecf0f1">Do you have an account?</font></a>
         </div>
  </ion-nav-view>
  </body>
</html>
